<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login Screen</h1>
<input class="input" type="text" name="email" placeholder="User" autofocus="">
<input class="input" type="password" name="password" placeholder="Password" autofocus="">

<br>
<h3>Session</h3>
<select class="input" name="session" id="session">
    <option value="placeholder1">placeholder1</option>
    <option value="placeholder2">placeholder2</option>
    <option value="placeholder3">placeholder3</option>

</select>


</body>
</html>